@media (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }
	
	.ava {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .headingg {
      font-size: 20px;
    }

    .containerr{
        height:1315px;
    }

    .btnn{
        font-size:15px;
    }
}

@media (max-width: 670px) {
    .header-right {
        display: none;
    }
    .container {
        padding: 0 10px;
    }
    .menu-icon {
        display: block;
    }
    .top-wrapper {
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: normal;
    }
    .top-wrapper p {
        font-size: 14px;
    }
    .btn-wrapper {
        width: 100%;
    }
	
	.ava {
      width: 100%;
    }

    .containerr{
        height:2300px;
    }

    .btnn{
        font-size:15px;
    }
	
    footer {
        position: static;
    }
    footer h2 {
        display: none;
    }
    footer img {
        position: static;
        display: block;
        width: 100px;
        margin: auto;
    }
}
