* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  @font-face {
      font-family: "century gothic";
      src: url("century-gothic/GOTHIC.ttf");
  }
  
  @font-face {
      font-family: "CenturyGothic";
      src: url("/fonts/CenturyGothic/CenturyGothic.eot");
      src: url("/fonts/CenturyGothic/CenturyGothic.woff") format("woff");
      src: url("/fonts/CenturyGothic/CenturyGothic.svg") format("svg");
      src: url("/fonts/CenturyGothic/CenturyGothic.ttf") format("truetype");
  }
  
  body {
      margin: 0;
      font-family: "century gothic";
  }
  
  a {
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
  }
  
  li {
      list-style: none;
  }
  
  header {
      width: 100%;
      height: 50px;
      background-color: rgba(42, 47, 71, 0.9);
      font-family: "century gothic";
      position: fixed;
      top: 0;
      z-index: 10;
  }
  
  .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 50px;
  }
  
  .header-left {
      float: left;
  }
  
  .header-right {
      float: right;
      /*display: inline-block;*/
      margin-right: -10px;
  }
  
  .header-right a {
      color: white;
      line-height: 50px;
      padding: 0 10px;
      transition: all 0.8s;
      display: block;
      float: left;
  }
  
  .header-right a:hover {
      background-color: rgba(255, 255, 255, 0.3);
  }
  
  .logo {
      width: 150px;
      height: 25px;
      margin-top: 15px;
  }
  
  .top-wrapper {
      padding-top: 180px;
      padding-bottom: 100px;
      background-image: url("gambar_logo.png");
      background-size: cover;
  }
  
  .top-wrapper h1 {
      font-weight: bold;
      font-size: 45px;
      opacity: 0.8;
      letter-spacing: 3px;
      margin-bottom: 10px;
  }
  
  .top-wrapper p {
      opacity: 0.8;
      margin-bottom: 30px;
  }
  
  .heading {
      padding-top: 60px;
      padding-bottom: 30px;
      color: #5f5d60;
  }
  
  .heading h2 {
      font-weight: normal;
  }
  
  .menu-icon {
      color: white;
      float: right;
      font-size: 25px;
      padding: 10px 0;
      display: none;
  }
  
  .btn {
      padding: 12px 24px;
      color: white;
      display: block;
      opacity: 0.8;
      width: 100%;
      margin: 0 auto;
      border-radius: 20px;
  }
  
  .btn:hover {
      opacity: 1;
  }
  
  .signup {
      background-color: #239b76;
      margin-bottom: 10px;
  }
  
  .facebook {
      background-color: #3b5998;
      margin-bottom: 10px;
  }
  
  .twitter {
      background-color: #55acee;
  }
  
  .btn-wrapper {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 300px;
      text-align: center;
  }
  
  .fa {
      margin-right: 5px;
  }
  
  .our-bio{
    text-align:center;
    font-family:"Century Gothic";
    background-color:#2a2f47;
	padding-top: 100px;
	padding-bottom: 100px;
}

.containerr {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

 .headingg {
    padding-top: 15px;
    padding-bottom: 10px;
    color:#ffffff;
    font-size:25px;
  }

.profile{
    padding:20px 5px 400px 5px;
    margin-right:2px;
    margin-left:2px;
}

.ava{
    float:left;
    width:20%;
}

.ava img{
    width:175px;
    height:175px;
    border:8px solid #ffffff;
    border-radius:50%;
}

.ava h2{
    color:#caf200;
    font-size:18px;
}

.ava p{
    color:#ffffff;
    font-size:15px;
}

.btn-wrapperr{
    margin-top:2px;
}

.btnn {
    padding: 15px 27px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius:30px;
    text-align: center;
    margin:5px 15px;
    font-size:15px;
    cursor: pointer;
}

.btnn:hover {
    opacity: 1;
}

.dana{
    background-color:#4fcc4f;
}

.daftar{
    background-color:#478fcf;
}


body {
  font-family: "Century Gothic";
}

li {
  list-style: none;
}

.section-title {
	font-size: 35px;
}

.contact-form {
	background-image : url(4f.png);
	background-size: cover;
}

.contact-form {
  padding-top: 100px;
  padding-left: 70px;
  text-align: left;
  font-size: 20px;
  padding-bottom: 100px;
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
input, textarea {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 15px;
  border: 1px solid #dee7ec;
  border-radius: 50px;
}

/* Tambahkan CSS untuk contact-submit */
.contact-submit {
	padding: 15px 27px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius:30px;
	margin:5px 15px;
    font-size:15px;
    cursor: pointer;
  background-color: #4fcc4f;
  color: #ffffff;
  
}

.contact-submit:hover {
	opacity: 1;
}

.main-background {
	background-size: cover;
	
	
}
  
  
  footer {
      width: 100%;
      background-color: rgba(42, 47, 71, 0.9);
      color: white;
      font-family: "century gothic";
      padding-top: 20px;
      padding-bottom: 15px;
      position: relative;
  }
  
  footer h2 {
      font-weight: lighter;
      display: block;
      text-align: center;
	  font-size: 12px;
  }
  
  footer img {
      width: 120px;
      position: absolute;
      left: 85%;
      top: 50%;
      transform: translateY(-50%);
  }
